
<div class="post-container" *ngIf="posts && posts.length > 0">
  <mat-card class="post" *ngFor="let item of posts">
    <mat-card-header>
      <mat-card-title>{{item.nome}}</mat-card-title>
      <mat-card-subtitle>Nacionalidade:{{item.nacionalidade}}</mat-card-subtitle>
      <mat-card-content style="margin: 25px 0 25px 0;"></mat-card-content>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="redirectToDetail(item.id)">Ver Autor</button>
    </mat-card-actions>
  </mat-card>
  </div>
